databasepractice/src/main/mule/databasepractice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="28a161c4-bb13-4a49-adf2-37dc187d3f9e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Composer@6" />
	</db:config>
	<flow name="databasepracticeFlow" doc:id="fc63a758-3856-4bbd-8025-9c112d404cf3" >
		<http:listener doc:name="Listener" doc:id="4cbe7a12-3780-4ddf-9b23-f530093d5716" path="/dbs" config-ref="Listner1"/>
		<db:select doc:id="fbd6497e-94a1-4624-87ed-5efe1d884075" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM craftonlineshopping.products;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bfe2da52-8c68-4fa4-b3c3-29edd4c27575" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow1" doc:id="874b488a-6915-41cc-b941-0d55cfd37525" >
		<http:listener doc:name="Listener" doc:id="e7c9973c-adad-4de9-bd1d-92595df0868f" config-ref="Listner1" path="/lis"/>
		<db:insert doc:name="Insert" doc:id="5b66143d-a803-4d7e-89ce-246e0de08596" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into craftonlineshopping.products(productid, categoryid, name)values(:productid,:categoryid,:name);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	productid: payload.productid,
	categoryid: payload.categoryid,
	name: payload.name
	
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="a06dcbee-91dc-4e3f-a496-8359e8f86bd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"ok"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow2" doc:id="229edc27-3737-4234-b6a6-15de59c02d70" >
		<http:listener doc:name="Listener" doc:id="45a73ef9-a75a-466c-94fd-77efdacd8cdf" config-ref="Listner1" path="/bulk"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="363f9844-edbb-4714-a5d9-932aae9c77df" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[payload map (value,index) -> {
	id: value.id,
	name: value.name,
	job: value.job,
	age: value.age
}]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[insert into seada.customer(id, name, job,age)values(:id,:name,:job,:age);]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="51cb9af9-b32e-4104-b622-cb234f1c0228" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"yes"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow3" doc:id="f76c964d-b4e0-49df-8635-737d89e07dd4" >
		<http:listener doc:name="Listener" doc:id="65f107be-ccbe-4fd7-9ee0-6e0b47c41296" config-ref="Listner1" path="/upd"/>
		<db:update doc:name="Update" doc:id="884c5447-094f-43bb-b52b-e5adcecbb4b2" config-ref="Database_Config">
			<db:sql ><![CDATA[update seada.customer
set name =:name, age = :age
where id = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name: payload.name,
	age: payload.age,
	id: payload.id
	
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="d44fafd0-52e2-44db-a319-e544e16b020e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"good job"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow4" doc:id="f8b5830f-0470-4512-9c7a-a1b1acbbf464" >
		<http:listener doc:name="Listener" doc:id="665449fc-768c-4f31-aae5-f8c88d3bc8ba" config-ref="Listner1" path="/bulkupd"/>
		<db:bulk-update doc:name="Bulk update" doc:id="6882874b-b665-464d-9d72-a65a2dff3429" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[payload map (value,index)->{
	name: value.name,
	age: value.age,
	id: value.id
}]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[update seada.customer
set name =:name, age = :age
where id = :id]]></db:sql>
		</db:bulk-update>
		<ee:transform doc:name="Transform Message" doc:id="5a68fc36-e31c-4934-a9bc-241478a29e78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"ok"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow5" doc:id="1360d53b-154b-4016-9b4b-a662e875d170" >
		<http:listener doc:name="Listener" doc:id="7065a8f9-cadf-41a1-b4f2-f5da58b5c057" config-ref="Listner1" path="/del"/>
		<db:delete doc:name="Delete" doc:id="5ba91fa6-2271-40d0-b823-0767e9d23b65" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from seada.customer
where id =:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: payload.id]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="16793386-9076-4ccc-ac8b-c19c571d93e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"deleted"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="databasepracticeFlow6" doc:id="da0ae8b9-6f24-4a69-8901-da29649f1440" >
		<http:listener doc:name="Listener" doc:id="72b1a1c8-bbd7-4b84-808f-dc4c4b374d94" config-ref="Listner1" path="/bdel"/>
		<db:bulk-delete doc:name="Bulk delete" doc:id="b74312dd-d49f-495a-a717-557a9dcab586" config-ref="Database_Config">
			<db:bulk-input-parameters ><![CDATA[#[payload map (value,index)->{
	id: value.id
	}]]]></db:bulk-input-parameters>
			<db:sql ><![CDATA[delete from craftonlineshopping.products
where productid =:productid]]></db:sql>
		</db:bulk-delete>
		<ee:transform doc:name="Transform Message" doc:id="ee7dbace-ea63-4395-9d77-0a5df4913d8a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"bulk deleted"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
